@use "../includes/variables" as v;
@use "../includes/functions" as f;

@each $color, $value in v.$theme-colors {
    .text-bg-#{$color} {
        color: #{f.color-contrast($value)};
        background-color: rgba(var(--#{v.$prefix}#{$color}-rgb), var(--#{v.$prefix}bg-opacity, 1));
    }
    a.text-bg-#{$color} {
        &:hover,
        &:active,
        &:focus {
            $contrast: f.color-contrast($value);

            @if f.color-contrast($value) == "#ffffff" {
                color: f.shade-color($contrast, 10%);
            } @else {
                color: f.tint-color($contrast, 20%);
            }
            // color: color-contrast($value);
        }
    }
}
