@use "../includes/variables" as v;
@use "../includes/functions" as f;

.about-me-container {

    h3 {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;

        .work-dates {
            color: v.$secondary;
            font-size: f.rem-calc(13);
            text-transform: uppercase;
        }
    }
}

.icon {
    fill: v.$white;
}

.links {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: f.rem-calc(24);
    justify-content: flex-start;
    margin: f.rem-calc(20) 0;
}
