<h1>Works</h1>
<h2>Browse Through the Work</h2>
<p>Welcome to the portfolio of Kristina L. Hall. Within this website is the creative, professional,
  and personal portfolio of Kristina L. Hall. Included in this website is a resume of my education
  and of my experience in the field, a biography of my personal experiences in web design, and
  contact information for you to inquire about my services.</p>
